:root {
  --paragraph-margin: 70px;
  --margin: 140px;
  --main-color: rgb(21, 49, 48);
  --secondary-color: rgb(0, 184, 187);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  color: var(--main-color);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(7, 15, 15);
}

.title,
.logo {
  margin-left: var(--margin);
}

.section__main {
  background-image: url("main-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 11.8rem;
}

.title {
  width: 50%;
  margin-top: 0;
}

.title_main {
  font-size: 8rem;
  font-weight: 700;
  color: var(--main-color);
  margin-bottom: 0;
}

.title_paragraph {
  font-size: 2rem;
  font-weight: 400;
  color: var(--main-color);
  width: 80%;
  margin-top: 3rem;
}

.logo {
  font-size: 5.5rem;
  margin-bottom: 5rem;
  padding-top: 5.4rem;
}

/* Section 2 */
.features {
  display: flex;
  flex-direction: row;
  gap: 135px;
  background-color: whitesmoke;
}

.fa-tv,
.fa-heart,
.fa-award {
  font-size: 4rem;
  color: var(--secondary-color);
  width: 50px;
}

.features_features-list {
  margin-left: var(--margin);
  margin-top: var(--margin);
  margin-bottom: calc(150px - 53px);
  width: 30%;
}

.feature {
  display: flex;
  flex-direction: row;
}

.feature-description {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-bottom: 53px;
}

.feature-description h4 {
  font-size: 2.2rem;
  margin: 0;
  font-weight: 600;
  color: var(--main-color);
  font-family: "Work Sans", sans-serif;
}

.feature-description p {
  font-size: 1.4rem;
  font-weight: 100;
  color: var(--main-color);
  font-family: "Work Sans", sans-serif;
  margin: 0;
}

.features-form {
  width: 350px;
  background-color: var(--main-color);
  padding: 53px;
  position: relative;
  bottom: 135px;
  margin-left: 68px; /* total distance between form and benefits div is gap + margin-left */
}

.features-form_header {
  font-size: 3.5rem;
  color: white;
  text-align: center;
}

.features-form_paragraph {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.features-form form {
  display: flex;
  flex-direction: column;
}

.features-form form > * {
  padding: 20px 20px;
  font-size: 1.5rem;
  border-radius: 6px;
  margin-bottom: 20px;
}

.schedule-button {
  border-radius: 6px;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.schedule-button:hover {
  cursor: pointer;
}

/* Section 3: Content */
.content {
  background-color: rgb(232, 251, 251);
  text-align: center;
  padding: 64px 45rem;
  position: relative;
  height: 360px;
}

.content-title {
  font-size: 4rem;
}

.content-paragraph {
  font-size: 2rem;
}

.content-video {
  width: 650px;
  position: absolute;
  left: 50%;
  margin-left: -325px;
}

/* Section 4: Testimonials */
.testimonials {
  margin: 300px var(--margin) var(--margin);
  text-align: center;
}

.testimonials-header {
  letter-spacing: 0.4rem;
  color: rgb(0, 194, 197);
  color: var(--main-color);
}

.testimonials-reviews {
  display: flex;
  gap: 10rem;
  margin-top: 50px;
}

.review-stars {
  color: black;
  font-size: 2rem;
  margin: 0;
  color: rgb(0, 194, 197);
}

.review-text {
  font-size: 3rem;
  font-weight: 100;
  margin: 10px 0 30px 0;
  color: var(--main-color);
}

.review {
  text-align: left;
}

.reviewer-pic {
  width: 150px;
}

.reviewer-owner {
  margin: 0 0 10px 0;
}

.reviewer-location {
  margin: 0;
}

.reviewer-info {
  display: flex;
  flex-direction: row;
}

.reviewer-text {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  font-size: 1.3rem;
}

/* Section 5: Benefits */
.benefits {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0 var(--margin) var(--margin);
}

.benefit-header {
  font-size: 2.2rem;
}

.benefit-text {
  font-size: 1.3rem;
  margin: 0;
}

.benefit-image {
  width: 100%;
}

/* Section 6: About */
.about {
  display: flex;
  flex-direction: row;
  margin: 0 var(--margin);
  gap: 100px;
  margin-bottom: var(--margin);
}

.about-info {
  display: flex;
  flex-direction: column;
}

.about-header {
  font-size: 4.5rem;
}

.about-text {
  font-size: 2rem;
  margin: 0;
}

/* Section 7: Footer */
.footer {
  height: 134px;
  background-color: var(--main-color);
}

.footer-logo {
  font-size: 3.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--margin);
  color: whitesmoke;
  font-size: 1.4rem;
}

/* MEDIA QUERIES */

@media only screen and (max-device-width: 480px) {
  :root {
    --margin: 30px;
    --paragraph-margin: 70px;
    --main-color: rgb(21, 49, 48);
    --secondary-color: rgb(0, 184, 187);
  }

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .section__main {
    padding-bottom: 5rem;
  }

  .title,
  .logo {
    margin-left: 0;
    padding-left: var(--margin);
  }

  .logo {
    font-size: 5.5rem;
    margin-bottom: 0;
    padding-top: 5.4rem;
  }

  .title {
    width: 100%;
    margin-top: 0;
  }

  .title_main {
    font-size: 5rem;
    margin: 20px 0;
  }

  .title_paragraph {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: var(--main-color);
    width: 100%;
  }

  /* Section 2 */
  .features {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: whitesmoke;
  }

  .fa-tv,
  .fa-heart,
  .fa-award {
    font-size: 4rem;
    color: var(--secondary-color);
    width: 50px;
    text-align: center;
  }

  .features_features-list {
    margin-left: 0;
    padding-left: var(--margin);
    margin-top: var(--paragraph-margin);
    margin-bottom: calc(150px - 53px);
    width: 100%;
  }

  .feature {
    display: flex;
    flex-direction: row;
  }

  .feature-description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 53px;
  }

  .feature-description h4 {
    font-size: 2.2rem;
    margin: 0;
    font-weight: 600;
    color: var(--main-color);
    font-family: "Work Sans", sans-serif;
  }

  .feature-description p {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--main-color);
    font-family: "Work Sans", sans-serif;
    margin: 0;
  }

  .features-form {
    width: 90%;
    background-color: var(--main-color);
    padding: 53px;
    position: relative;
    bottom: var(--paragraph-margin);
    margin-left: 0; /* total distance between form and benefits div is gap + margin-left */
    margin: auto;
  }

  .features-form_header {
    font-size: 3.5rem;
    color: white;
    text-align: center;
  }

  .features-form_paragraph {
    color: white;
    text-align: center;
    font-size: 1.8rem;
  }

  .features-form form {
    display: flex;
    flex-direction: column;
  }

  .features-form form > * {
    padding: 20px 20px;
    font-size: 1.5rem;
    border-radius: 6px;
    margin-bottom: 20px;
  }

  .schedule-button {
    border-radius: 6px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
  }

  .schedule-button:hover {
    cursor: pointer;
  }

  /* Section 3: Content */
  .content {
    background-color: rgb(232, 251, 251);
    text-align: center;
    padding: 0;
    position: relative;
    height: 360px;
  }

  .content-title {
    font-size: 3.5rem;
    margin: 0;
    padding: var(--margin) var(--margin) 0;
  }

  .content-paragraph {
    font-size: 2rem;
    padding: 0 var(--margin);
  }

  .content-video {
    width: 90%;
    position: static;
    margin: auto;
  }

  /* Section 4: Testimonials */
  .testimonials {
    margin: 250px var(--margin) var(--paragraph-margin);
    text-align: center;
  }

  .testimonials-header {
    letter-spacing: 0.4rem;
    color: rgb(0, 194, 197);
    color: var(--main-color);
  }

  .testimonials-reviews {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 50px;
  }

  .review-stars {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    color: rgb(0, 194, 197);
  }

  .review-text {
    font-size: 2rem;
    font-weight: 100;
    margin: 10px 0 30px 0;
    color: var(--main-color);
  }

  .review {
    text-align: left;
  }

  .reviewer-pic {
    width: 150px;
  }

  .reviewer-owner {
    margin: 0 0 10px 0;
  }

  .reviewer-location {
    margin: 0;
  }

  .reviewer-info {
    display: flex;
    flex-direction: row;
  }

  .reviewer-text {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    font-size: 1.3rem;
  }

  /* Section 5: Benefits */
  .benefits {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 var(--margin) var(--margin);
  }

  .benefit-header {
    font-size: 2.2rem;
    margin: 0.5rem 0;
  }

  .benefit-text {
    font-size: 1.3rem;
    margin: 0;
  }

  .benefit-image {
    width: 100%;
  }

  /* Section 6: About */
  .about {
    display: flex;
    flex-direction: column;
    margin: var(--paragraph-margin) var(--margin);
    gap: 30px;
  }

  .about-info {
    display: flex;
    flex-direction: column;
  }

  .about-header {
    font-size: 4.5rem;
    margin: 0;
  }

  .about-text {
    font-size: 2rem;
    margin: 2rem 0;
  }

  /* Section 7: footer */
  .footer-logo {
    font-size: 3rem;
  }

  .footer {
    height: 134px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 var(--margin);
    color: whitesmoke;
    font-size: 1.4rem;
    gap: 10px;
  }
}
